*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Set a negative z-index to position the canvas behind other elements */
}

.content{
    background-color: rgb(255,255,255, .8);
    width: 70%;
    margin: auto;
    margin-top: 10vh;
}
.content div{
    margin-left: 2.5vh;
    margin-right: 2,5vh;
}
.experience{
    position: relative;
    background-color: rgb(255,255,255, .8);
    margin-top: 25vh;
    width: auto;
    margin: auto;
}
.navbar{
    margin-top: 1vh;
    height: 4vh;
    display: flex;
    justify-content: space-between;
}
.linkitem{
    height: 4vh;
    width: auto;
    margin-right: 2vh;
}
.init{
    height: 4vh;
    font-size: 24px;
    margin-left: 2vh;
    width: auto;
}
.init p {
    margin: 0;
}
.me{
    border-radius: 50%;
    height: 20vh;
}