<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <canvas id="myCanvas"></canvas>

    <div class="navbar">
        <div class="init">
            <p> AS </p>
        </div>

        <div class="links">
            <a href="https://github.com/Al3x-s?tab=repositories" target="__blank">
                <img class="linkitem" src="../static/media/github.png">
            </a>
            <a href="https://www.linkedin.com/in/alejandro-sanchez-5a51a920a/" target="__blank">
                <img class="linkitem" src="../static/media/linkedin.png" class="linkitem">
            </a> 
        </div>

    </div>


    <div class="content">
        
        <div class="intro">
        <img class="me" src="../static/media/me.JPG">
        <h1 class="cardname">Hey I'm Alex</h1>
        <p>I am an onsite Apprentice at DRW actively learning Docker, AWS, Kubernetes, Python, linux and CICD with Concourse and GitHub actions. With a strong work ethic and a passion for learning and teaching, I am committed to staying at the forefront of industry trends and contributing to the success of any team that values innovative problem solving.</p>

        <h2> About me </h2>
        <p> Currently working on learning about Volume claims and automating RBAC on K8s Clusters and witll dive into terraform after that </p>
        <p> I like playing Billiards, Poker and making vaporware </p>
        
        </div>

        <div class="education">
            <h1>Education</h1>
            <div class="edu_piece piece">
                <h3>Undergrad: University of Illinois at Chicago - BE bachelors of engineering computer science (2021-2022)</h3>
                <p>Volunteer in my CS 151 and 251 Classes as a tutor</p>
                <p>Did volunteering in WICS (Women In Computer Science)
            </div>

             <div class="edu_piece">
                <h3>
                    Dual Enrollment: Harold Washington College CCC (2020-2021)
                </h3>
               <p> Took intro classses into computer science and learned the fundamentals of Java and also took a class on compiler functionality </p> 
            </div> 
        </div>            
        



        <div class="experience">
            <h1> Experience </h1>
            <div class="exp_piece piece">
                <h3 class="exp"> DevOps Specialist Apprentice: DRW Holdings (May 2023 - Present)</h3>
                <p> 5 months of remote training instruction</p>
                <p> On-The-Job training in the following technologies:</p>
                <div class="exp_cont">
                    <ul>
                        <li> Containerization using Docker</li>
                        <li> CI/CD pipelines using concourse and GitHub Actions </li>
                        <li> AWS Mostly using S3 and Buckets</li>
                        <li> Python </li>
                    </ul>
                        
                    <ul>
                        <li> Front end programming (React, Django) </li>
                        <li> Kubernetes </li>
                        <li> Git </li>
                        <li> Networking </li>
                    </ul>

                </div>
               
            </div>

            <div class="exp_piece piece">
                <h3 class="exp"> Google Fellowship Intern: Code Nation (Sep 2021 - Feb 2022) </h3>
                <ul>
                    <li>
                        Worked on creating responsive websites and web applications using reactJS alongside multiple libraries such as Material UI and Ant UI and used code concepts such as advanced hooks and pointers to optimize the applications that we built.
                    </li>
                </ul>
            </div>

            <div class="exp_piece piece">
            <h3 class="exp"> Googles CSSI intern: Google (July 2021 - Aug 2021)</h3>
            <ul>
                <li>Google's Computer Science Summer Institute (CSSI) is an intensive and interactive four-week introduction to computer science (CS) for graduating high school seniors with a passion for technology.</li>
            </ul>
            </div>
            
        </div>

        <div class="projects">
            <h1>DRW Projects</h1>
            <div class="project_piece piece ">
                <h3><a href="https://git.drwholdings.com/appr-devops-2023/as-bg-cfg"> Blue-Green Deployment - Deployed via Concourse</a></h3>
            </div>

            <div class="project_piece piece ">
                <h3><a href="https://git.drwholdings.com/appr-devops-2023/as-bg-app"> Blue-Green Deployment - Deployed via GitHub Actions</a></h3>
            </div>

        </div>

        <div class="projects">
            <h1> Side Projects</h1>
            <div class="project_piece piece ">
                <h3><a href="https://github.com/Al3x-s/flaskpractice"> Flask bin/hex app</a></h3>
                <p> <a href="https://asanchez-osi.appr.drw/" target="__blank"> An online tool</a> created durring the remote training instruction because there was a lack of resources to help us practice bitwise operation and many other networking practices.</p>
            </div>


            <div class="project_piece piece ">
                <h3><a href="https://github.com/Al3x-s/url-shortener"> Flask URL Shortener app</a></h3>
                <p>Also created during the remote training instruction because I heard the last Cohort created one too</p>
            </div>

            <div class="project_piece piece ">
                <h3><a href="https://github.com/Al3x-s/Study-Buddy"> Flask Study buddy app </a></h3>
                <p>GPT wrapper - created to help me study and find resources and materials a lot faster with the use of CHATGPT's api. Took it down because training the model was getting expensive.</p>
            </div>

            <div class="project_piece piece ">
                <h3><a href="https://github.com/Al3x-s/MessAround"> Random Side Projects </a></h3>
                <p>There are many more things on my personal github but i thought these were the cooler ones so but this is a repo of things ive build OTJ when i have free time around the office currently working on visualizing fractals but in 3D.</p>
            </div>

        </div>

        <div class="tech">
            <h1> Technologies </h1>
            <div class="icons">
                <img class="icon" src="/../static/media/python.png" title="python">
                <img class="icon" src="/../static/media/js.png" title="JavaScript">
                <img class="icon" src="/../static/media/atom.png" title="ReactJS">
                <img class="icon" src="/../static/media/docker.png" title="Docker">
                <img class="icon" src="/../static/media/bash.png" title="Bash">
            </div>
            <div class="icons icon_row_2">
                    <img class="icon" src="/../static/media/cicd.png" title="Concourse">
                    <img class="icon" src="/../static/media/html.png" title="HTML">
                    <img class="icon" src="/../static/media/css.png" title="CSS">
                    <img class="icon" src="/../static/media/gha.png" title="GitHub Actions">
                    <img class="icon" src="/../static/media/k8.png" title="Kubernetes">
            </div>
        </div>

        <div class="skills">
            <h1>Skills</h1>
            <div class="skillscont">
                <div class="subset">
                    <h2>Python</h2>
                    <p>Pandas</p>
                    <p>MatPlotLib</p>
                    <p>SQLite3</p>
                    <p>Flask/</p>
                    <p>Django</p>
                </div>

                <div class="subset">
                    <h2>Javascript</h2>
                    <p> P5 Js</p>
                    <p> React </p>
                    <p> Jquery </p>
                    <p> D3 js </p>
                </div>

                <div class="subset">
                    <h2>IDEs</h2>
                    <p>VIM</p>
                    <p>Apache Net Beans</p>
                    <p>VSC</p>
                    <p></p>
                </div>

                <div class="subset">
                    <h2>Networking</h2>
                    <p>WireShark</p>
                    <p>Zenmap</p>
                    <p>TCP Dump</p>
                    <p></p>
                </div>

            </div>
            
        </div>

    <!-- add cicd thhings  -->

        <div class="people">
            <h1>People</h1>
            <div class="people_cont">
                <div class="group">
                <h2>Apprenticeship instructors</h2>
                <p>Chris Walquist</p>
                <p>Mark Cody</p>
                <p>John Gosset</p>
            </div>
            <div class="group">
                <h2>References</h2>
                <p> Michael Whalon </p>
                <p></p>
                <p></p>
            </div>
            </div>
            
        </div>
  
    <script src="../static/jscripts/scripts.js"></script>

</body>
</html>